.headerFlex {
  display: flex;
  justify-content: space-around;
  background-color: #3d3b3b;
  width: 50%;
  margin-left: 25%;
  border-radius: 4rem;
  margin-top: 10px;
  padding-top: 1rem;
}

.headerTitre {
  display: flex;
  gap: 15rem;
  padding-top: 2.5%;
}

/* Pour le logo */
.imgLogo {
  background-color: #2c2a2a;
  border-radius: 1rem;
  padding-top: 1rem;
  height: 40px;
  width: 60px;
  margin-bottom: 1.3rem;

  transition: all 0.3s ease;
}

.imgLogo:focus-visible,
.imgLogo:hover {
  cursor: pointer;
  height: 45px;
  width: 65px;
  margin-bottom: 1rem;
  
}

/* Pour les règles */
.boutonRegle {
  text-decoration: none;
  height: 25px;
  width: 60px;
  color: white;
  background: none;
  border: none;
  outline: none;
  border-radius: 10px;

  transition: all 0.3s ease;
}

.boutonRegle:focus-visible,
.boutonRegle:hover {
  background-color: #2c2a2a;
  cursor: pointer;
  font-size: 15px;
}

/* Pour l'encyclopédie */
.boutonEncyclo {
  text-decoration: none;
  height: 25px;
  width: 100px;
  color: white;
  background: none;
  border: none;
  outline: none;
  border-radius: 10px;

  transition: all 0.3s ease;
}

.boutonEncyclo:focus-visible,
.boutonEncyclo:hover {
  background-color: #2c2a2a;
  cursor: pointer;
  font-size: 15px;
}