header {
  position: fixed;
  top: 0;
  left: 36%;
  padding: 10px 16px;
  z-index: 9999; 
}

.headerFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, red, rgb(91, 101, 235));
  width: 100%;
  margin-left: 0%;
  border-radius: 4rem;
  margin-top: 10px;
  padding: 0.8rem 1.2rem;
}

.headerTitre {
  display: flex;
  gap: 15rem;
  padding-top: 2.5%;
}

.burger {
  display: none;
  font-size: 23px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.menuNav {
  display: flex;
  gap: 6rem;
}

/* Pour le logo */
.imgLogo {
  margin-left: 30px;
  margin-right: 30px;
  height: 25%;
  width: 130px;
  font-size: 12px;
}

/* Pour les règles */
.boutonRegle {
  text-decoration: none;
  height: 25px;
  width: 60px;
  color: white;
  background: none;
  border: none;
  outline: none;
  border-radius: 10px;
  padding-bottom: 30px;
  transition: all 0.3s ease;
}

.boutonRegle:focus-visible,
.boutonRegle:hover {
  background-color: #5ca371;
  cursor: pointer;
  font-size: 15px;
  padding-top: 10px;
}

/* Pour l'encyclopédie */
.boutonEncyclo {
  text-decoration: none;
  height: 25px;
  width: 100px;
  color: white;
  background: none;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-right: 20px;
  padding-bottom: 30px;

  transition: all 0.3s ease;
}

.boutonEncyclo:focus-visible,
.boutonEncyclo:hover {
  background-color: #5ca371;
  cursor: pointer;
  font-size: 15px;
  padding-top: 10px;
}

