.headerFlex {
  display: flex;
  justify-content: space-around;
  background-color: #3d3b3b;
  width: 50%;
  margin-left: 25%;
  border-radius: 4rem;
  margin-top: 10px;
  padding-top: 1rem;
}

.headerTitre {
  display: flex;
  gap: 15rem;
  padding-top: 2.5%;
}

/* Pour le logo */
.imgLogo {
  border-radius: 1rem;
  padding-top: 1rem;
  width: 70px;
  height: 70px;
}   

/* Pour les règles */
.boutonRegle {
    text-decoration: none;
    height: 20px;
    color: white;
    background: none;
    border: none;
    outline: none;
}

.boutonRegle:focus-visible,
.boutonRegle:hover {
    background-color: red;
    cursor: pointer;
}

/* Pour l'encyclopédie */
.boutonEncyclo {
  text-decoration: none;
    height: 20px;
    color: white;
    background: none;
    border: none;
    outline: none;
}

.boutonEncyclo:focus-visible,
.boutonEncyclo:hover {
    background-color: red;
    cursor: pointer;
}