.titreEtDescription {
    margin-top: 10%;
    margin-left: 10%;
}

.boutonHero {
    width: 13%;
    border-radius: 10rem;
}

.boutonHero:hover,
.boutonHero:focus-visible {
    background-color: red;
}