/* Fait par Brandon */

/* Regle */
.instruction {
    padding-left: 30px;
    background-color: rgb(64, 48, 153);
    color: white;
    width: 500px;
    height: 230px;
    position: absolute;
    margin-left: 37%;
    display: none;
    border-radius: 10px;
}

/* Pour règle et encyclopédie */
.fixeSection {
    position: fixed;
    top: 10%;
    left: 40%;
    z-index: 9999; 
}

/* Encyclopédie */
.savoir {
    display: none;
}

.swiper {
    width: 600px;
    height: 250px;
    position: absolute;
    margin-left: 50%;
}

.swiper-slide {
    background-color:rgb(64, 48, 153);
    border-radius: 10px;
    color: white;
}

/* Contenue du slider */
.contour {
    margin: 1.7% 0 0 9.5%;
    width: 80%;
    height: 90%;
    background-color: rgba(64, 48, 153, 0.753);
    padding: 10px 0 0 10px;;
}

.titreEpoque {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-right: 10%;
}

.imageEpoqueTitre {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}