@import "./modules/header.css";
@import "./modules/hero.css";
@import "./modules/regleEncyclo.css";

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    width: 100%;
    background-image: url("src/images/Arriere_plan.png");
    background-repeat: repeat-x;
}

/* Kelyan Aliane Timeline de la page */
.timeline{
    position:absolute;
    width: 10000px;
    height: 10px;
    background-color: #ffffff;
    top : 50%;

    animation: mon-animation;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}

/* Kelyan Aliane Animation de la timeline */
@keyframes mon-animation {
  0%{
    background-color: rgb(0, 3, 163) ;
  }

  30%{
    background-color: rgb(0, 78, 141);
  }

  60%{
    background-color: rgb(0, 119, 155);
  }

  90%{
    background-color: rgb(0, 78, 141);
  }

  100%{
    background-color: rgb(0, 3, 163) ;
  }
}


/* Kelyan Aliane Les cercles de la timeline */
.cercle {
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 13px solid #1E90FF;
    z-index : 1;
}

/* Kelyan Aliane la fonction pour que les cercles arrivent au milieu de la page ils s'agrandissent.*/
.actif {
    scale: 1.5;
    transition: width, height, transform 1s;
}

/* Kelyan Aliane texte dans les cercles de la timeline */
.texte_timeline{
  font-size: 18px;
  color: black;
  position: absolute;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  justify-content: center;
}

#cercles{
    display: flex;
    justify-content: space-between;
    width: fit-content;
    position: relative;
    gap: 700px;
    margin-left: 10%;
}

/* Kelyan Aliane media screen timeline */

@media (width <= 1000px){
.cercle{
    width: 300px;
    height: 300px;
    justify-content: space-between 3px;
 }
}

@media (width <= 986px){
.cercle{
    width: 300px;
    height: 300px;
    justify-content: space-between 3px;
 }
}

/* Kelyan Aliane media screen des textes dans les cercles */
@media (width <= 1000px){
 .texte_timeline{
  font-size: 12px;
 }
}

@media (width <= 999px){
 .texte_timeline{
  font-size: 18px;
 }
}


@media (width <= 1129px){
 #cercles{
    margin-left: 35%;
 }
}

@media (width <= 1105px){
 #cercles{
    margin-left: 35%;
 }
}

@media (width <= 1062px){
 #cercles{
    margin-left: 25%;
 }
}

@media (width <= 626px){
 #cercles{
    margin-left: 25%;
 }
}

@media (width <= 586px){
 #cercles{
    margin-left: 20%;
 }
}

@media (width <= 390px){
 #cercles{
    margin-left: 7%;
 }
}

@media (width <= 300px){
 #cercles{
    margin-left: 10%;
 }
}










/* ------------------------------------------------------*/

#Canvas_Timeline{
margin: auto;
margin-left: 5vw;
margin-top: 250px;
border-style: outset;
border-width: 10px;
border-color: gold;
margin-bottom: 250px;

}

/* Fait par Brandon */

/* Addaptation selon le width */
@media (max-width: 1200px) {

  /* Pour le header */
  header {
  position: fixed;
  top: 0;
  width: 55%;
  left: 30%;
  padding: 10px 16px;
  z-index: 999; 
  }

  .headerFlex {
    width: 80%;
    margin: 3%;
    margin-left: 7%;
    flex-wrap: wrap;
    padding: 30px;
    z-index: 9999;
  }

  .burger {
    padding-right: 10%;
    display: block;
  }

  .menuNav {
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    display: none;
    margin-top: 1rem;
    text-align: center;
  }

  .menuNav.showMenu {
    display: flex;
  }
  
  /* Pour le hero */
  .titreEtDescription {
    margin-top: 200px;
  }

  /* Pour l'encyclopédie */
  .swiper {
    width: 500px;
    height: 230px;
    position: absolute;
  }

  /* Pour les règles */
  .instruction {
    padding-left: 30px;
    width: 300px;
    height: 230px;
    position: absolute;
    display: none;
  }

  /* Pour règles et encyclopédie */
  .fixeSection {
    top: 27%;
    left: 35%;
    z-index: 9999; 
  }
}

/* Pour mobile */
@media (max-width: 600px) {

  header {
  position: fixed;
  top: 0;
  width: 45%;
  left: 10%;
  right: 0%;
  padding: 10px 16px;
  }

  .headerFlex {
    width: 300px;
    margin-left: 0px;
  }

  .titreEtDescription {
    margin-top: 300px;
    margin-bottom: 150px;
  }

  .fixeSection {
    top: 240px;
    left: 0%;
    z-index: 9999; 
    font-size: 13px;
  }
  
  .swiper {
    width: 350px;
    height: 230px;
    margin-left: 10px;
  }

  .swiper-button-prev {
    width: 25px;
    height: 30px;
  }

  .swiper-button-next {
    width: 25px;
    height: 30px;
  }

  .instruction {
    margin-left: 30px;
  }
}

@media (max-width: 300px) {
  .imgLogo {
  height: 25%;
  width: 100px;
  }

  header {
  padding: 10px 5px;
  left: 0%;
  }

  .headerFlex {
    width: 230px;
    margin-left: 0px;
  }

  .contour {
    width: 70%;
  }

  .swiper {
    width: 280px;
    height: 300px;
  }

  .fixeSection {
    top: 225px;
  }

  .instruction {
    width: 260px;
    height: 200px;
    margin-left: 4px;
  }
}

/*--------------- Elliot ---------------- */
#Canvas_Master{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}
#Canvas_Timeline{
margin-top: 25px;
margin-bottom: 50px;
}
/* -------------------------------------- */