@import "./modules/header.css";
@import "./modules/hero.css";

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: #2b2828;
    color: white;

    background-image: url("./images/dinosaurusIllustration.jpg");
    background-repeat: no-repeat;
    background-size: 100% 230%;
}

a {
    color: white;
    text-decoration: none;
    height: 20px;
}

a:focus-visible {
    background-color: red;
}

/* Kelyan Aliane Timeline de la page */
.timeline{
    position:absolute;
    width: 10000px;
    height: 10px;
    background-color: #ffffff;
    top : 50%;
}

/* Kelyan Aliane cercle timeline */
.cercle {
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    border: 20px solid #1E90FF;
}

#cercles{
    display: flex;
    justify-content: space-between;
    width: fit-content;
    position: relative;
    gap: 700px;
}

/* ------------------------------------------------------*/

#Canvas_Timeline{
margin: auto;
margin-left: 5vw;
margin-top: 250px;
border-style: solid;
border-width: 0px;
border-color: aqua;
margin-bottom: 250px;
}