@import "./modules/header.css";
@import "./modules/hero.css";
@import "./modules/regleEncyclo.css";

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: #2b2828;
    color: white;
    width: 100%;
    background-image: url("./images/dinosaurusIllustration.jpg");
    background-repeat: no-repeat;
    background-size: 100% 230%;
}

/* Kelyan Aliane Timeline de la page */
.timeline{
    position:absolute;
    width: 10000px;
    height: 10px;
    background-color: #ffffff;
    top : 50%;

    animation: mon-animation;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}

@keyframes mon-animation {
  0%{
    background-color: rgb(0, 3, 163) ;
  }

  30%{
    background-color: rgb(0, 78, 141);
  }

  60%{
    background-color: rgb(0, 119, 155);
  }

  90%{
    background-color: rgb(0, 78, 141);
  }

  100%{
    background-color: rgb(0, 3, 163) ;
  }
}


/* Kelyan Aliane cercle timeline */
.cercle {
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 20px solid #1E90FF;
    z-index : 1;

}

.actif {
    scale: 1.5;
    transition: width, height, transform 1s;
}

/* Kelyan Aliane texte cercle timeline */
.texte_timeline{
  font-size: 20px;
  color: black;
  position: absolute;
}








#cercles{
    display: flex;
    justify-content: space-between;
    width: fit-content;
    position: relative;
    gap: 700px;
}

/* ------------------------------------------------------*/

#Canvas_Timeline{
margin: auto;
margin-left: 5vw;
margin-top: 250px;
border-style: outset;
border-width: 10px;
border-color: gold;
margin-bottom: 250px;

}

@media (max-width: 1200px) {
  .headerFlex {
    width: 80%;
    margin: 3%;
    margin-left: 7%;
    flex-wrap: wrap;
    padding: 30px;
  }

  .burger {
    padding-right: 10%;
    display: block;
  }

  .menuNav {
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    display: none;
    margin-top: 1rem;
    text-align: center;
  }

  .menuNav.showMenu {
    display: flex;
  }

  .swiper {
    width: 95%;
    height: 260px;
    top: 14%;
  }

  .contour {
    padding: 5px;
  }

  .swiper {
    width: 300px;
    height: 200px;
    position: absolute;
    margin-left: 10%;
    margin-top: 15%;
  }

  .instruction {
    padding-left: 30px;
    background-color: rgba(48, 45, 45, 0.8);
    width: 300px;
    height: 200px;
    position: absolute;
    margin-left: 10%;
    margin-top: 15%;
    display: none;
  }

  .boutonHero {
    width: 250px;
    height: 30px;
    margin-bottom: 100px;
  }

  .boutonHero:hover,
  .boutonHero:focus-visible {
    background-color: red;
    font-size: 14px;
    width: 260px;
    height: 35px;
  }
}

@media (max-width: 600px) {

  .headerFlex {
    width: 80%;
    margin: 3%;
    flex-wrap: wrap;
    padding: 30px;
  }

  .imgLogo {
    margin: 0 auto;
    display: block;
  }

  .burger {
    padding-right: 10%;
    display: block;
  }

  .menuNav {
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    display: none;
    margin-top: 1rem;
    text-align: center;
  }

  .menuNav.showMenu {
    display: flex;
  }

  .swiper {
    width: 95%;
    height: 260px;
    top: 14%;
  }

  .contour {
    padding: 5px;
  }

  .swiper {
    width: 300px;
    height: 200px;
    position: absolute;
    margin-left: 10%;
    margin-top: 22%;
  }

  .instruction {
    padding-left: 30px;
    background-color: rgba(48, 45, 45, 0.8);
    width: 300px;
    height: 200px;
    position: absolute;
    margin-left: 10%;
    margin-top: 22%;
    display: none;
  }

  .boutonHero {
    width: 250px;
    height: 30px;
    margin-bottom: 100px;
  }

  .boutonHero:hover,
  .boutonHero:focus-visible {
    background-color: red;
    font-size: 14px;
    width: 260px;
    height: 35px;
  }
}

#Canvas_Master{
  width: 100%;
}